<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link
			rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<nav
		class="navbar navbar-expand-sm  navbar-light" style="background-color: #e3f2fd; margin-bottom: 10px;">
		{# Navigation #}
		<div class="container">
			<img title="" alt="Logo EMSE" src="{{ asset('img/logo.jpg') }}">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" title="Consultez tous les articles" href="{{ path('article_index')}}">Liste des articles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('article_new')}}">Ecrire un article</a>
						</li>
						<li
							class="nav-item">{# <a class="nav-link" href="{{ path('commentaires_new')}}">Ajouter un commentaire</a> #}
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="#">A propos du blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Nous contacter</a>
					</li>
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a class="nav-link" href="/admin">Admin.</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout')}}">Se déconnecter</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login')}}">Se connecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register')}}">S'enregistrer</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>

	<body class="container" style="padding-top: 20px;"> {% block body %}{% endblock %}

		</body>
	</html>
