<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link
			rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<nav
		class="navbar navbar-expand-sm  navbar-light" style="background-color: #e3f2fd; margin-bottom: 10px;">
		{# Navigation #}
		<div class="container">
			<img title="" alt="Logo EMSE" height = 40 length = 40 src="https://www.publicdomainpictures.net/pictures/200000/velka/car-silhouette-logo-symbol.jpg">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" title="Consultez tous clients" href="{{ path('client_index')}}">Clients</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('facture_index')}}">Factures</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="{{ path('contrat_index')}}">Contrats</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="{{ path('voiture_index')}}">Voitures</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('parking_index')}}">Parkings</a>
						</li>
					{% endif %}
				
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a class="nav-link" href="/admin">Admin.</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout')}}">Se déconnecter</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login')}}">Se connecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register')}}">S'enregistrer</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>

	<body class="container" style="padding-top: 20px;"> {% block body %}{% endblock %}

		</body>
	</html>

