{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>NumFacture</th>
                <td>{{ facture.numFacture }}</td>
            </tr>
            <tr>
                <th>DateFacture</th>
                <td>{{ facture.dateFacture ? facture.dateFacture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>KmAuCompteur</th>
                <td>{{ facture.kmAuCompteur }}</td>
            </tr>
            <tr>
                <th>MontantHT</th>
                <td>{{ facture.montantHT }}</td>
            </tr>
            <tr>
                <th>MontantTTC</th>
                <td>{{ facture.montantTTC }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('facture_index') }}">back to list</a>

    <a href="{{ path('facture_edit', {'id': facture.id}) }}">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
